.screenshotModalWrapper {
  position: absolute
  top: 115px
  left: 0
  right: 0
  width: 90vw
  height: 90vw !important
}

.header {
  display: flex
  align-items: center
  height: 53px
}

.title {
  font-size: 20px !important
}

.buttons {
  margin-left: 20px
}

button {
  border-radius: 18px !important
}
