#cameraToolbar
  margin-left 5px
  align-items center
  display flex
  column-gap 12px
  background rgba(55, 55, 55, 0.4)
  border-radius 16px
  padding 8px 12px

  button
    position relative
    border unset
    outline unset
    background-color transparent
    padding 8.5px 12px
    color #ffffff
    border-radius 11px
    transition all 0.3s
    font-size 16px 
    line-height 19.2px
    font-weight 400

  button:hover 
    cursor pointer
    background-color rgba(50, 50, 50, 0.6)
    transition all 0.3s

  button:hover .wrapper 
    visibility visible
    opacity 1
    transition all 0.3s

  .selectedCamera 
    background-color #2D2D2D
    transition all 0.3s

  a
    margin-right 10px
  .select__control
    background none
    font-size 18px
    padding: 2px 15px 2px 6px
  .select__single-value
    color #FFF
    &:hover
      color $primary
