@import '../../../style/lib';

#profileButton.profileButton
  border unset
  border-radius 50%
  width: 43px
  height 43px
  background-color: #774DEE
  padding 0 !important
#profileButton:hover
  background-color #6439DF
#profileButton:active
  background-color: #5B37C0;
.photoURL
  width: 43px
  height: 43px
  border-radius: 18px