#profileButton.profileButton {
  border: unset;
  border-radius: 50%;
  width: 43px;
  height: 43px;
  background-color: #774dee;
  padding: 0 !important;
  &:hover {
    background-color: #6439df;
  }
  &:active {
    background-color: #5b37c0;
  }
}
.photoURL {
  width: 43px;
  height: 43px;
  border-radius: 18px;
}
