#zoomButtons.wrapper 
    position absolute
    z-index: 1
    top: unset
    right 32px
    bottom 74px
    display: block
    min-width: unset
    width: 3rem
    height: 6rem
    overflow: hidden
    border-radius: 32px
    margin: 0
    padding: 0
    opacity: 1
    visibility: visible

    .btn
        display: block
        width: 100%
        height: 50%
        padding: 0
        margin: 0
        background-color: #2d2d2d
        outline: unset
        border: unset
        border-radius: unset
        color: #fff
        transition: all 0.3s
        
    .plus-button
        background-image: url('data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzIyMzJfMjU0OCkiPgo8cGF0aCBkPSJNMTIgNVYxOU01IDEySDE5IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L2c+CjxkZWZzPgo8Y2xpcFBhdGggaWQ9ImNsaXAwXzIyMzJfMjU0OCI+CjxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0id2hpdGUiLz4KPC9jbGlwUGF0aD4KPC9kZWZzPgo8L3N2Zz4K')
        background-repeat: no-repeat
        background-position: bottom 8px center

    .minus-button
        background-image: url('data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzIyMzJfMjU1MikiPgo8cGF0aCBkPSJNMTkgMTJMNSAxMiIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8yMjMyXzI1NTIiPgo8cmVjdCB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9IndoaXRlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNCAyNCkgcm90YXRlKC0xODApIi8+CjwvY2xpcFBhdGg+CjwvZGVmcz4KPC9zdmc+Cg==')
        background-repeat: no-repeat
        background-position: top 8px center

    .btn:hover
        background-color: #6439df

    .btn:active 
        background-color: #5b37c0

    .btn:active 
        background-color: #5b37c0