@use '../../../style/variables.scss';

.wrapper {
  display: flex;
  align-items: center;
  width: fit-content;
  column-gap: 12px;
  margin: 14px auto 0;
  background: rgba(55, 55, 55, 0.4);
  border-radius: 16px;
  padding: 8px 12px;

  .tabButton {
    display: block;
    position: relative;
    border: unset;
    outline: unset;
    background-color: transparent;
    padding: 8.5px 12px;
    color: variables.$white;
    border-radius: 11px;
    transition: all 0.3s;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 400;
    margin: 0;

    &:hover {
      cursor: pointer;
      background-color: rgba(50, 50, 50, 0.6);
      transition: all 0.3s;

      [class*='wrapper'] {
        visibility: visible;
        opacity: 1;
      }
    }

    &:active {
      background-color: variables.$black-600;
      color: variables.$lightgray-200;
      transition: all 0.3s;
    }
  }

  .selectedTab {
    background-color: variables.$darkgray-300;
    transition: all 0.3s;
  }
}
