#tabsWrapper.tabsWrapper
  align-items center
  display flex
  width: fit-content
  column-gap 12px
  margin: 14px auto 0
  background rgba(55, 55, 55, 0.4)
  border-radius 16px
  padding 8px 12px

#tabsWrapper.tabsWrapper button.tabButton
  display: block
  position relative
  border unset
  outline unset
  background-color transparent
  padding 8.5px 12px
  color #ffffff
  border-radius 11px
  transition all 0.3s
  font-size 16px 
  line-height 19.2px
  font-weight 400
  margin 0

#tabsWrapper.tabsWrapper button.tabButton:hover 
  cursor pointer
  background-color rgba(50, 50, 50, 0.6)
  transition all 0.3s

#tabsWrapper.tabsWrapper button.tabButton:active 
  background-color #282828
  color #B6B6B6
  transition all 0.3s

#tabsWrapper.tabsWrapper button.tabButton:hover .hintWrapper 
  visibility visible
  opacity 1
  transition all 0.3s

#tabsWrapper.tabsWrapper button.selectedTab
    background-color #2D2D2D
    transition all 0.3s