.selectorWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  row-gap: 4px;
  .label {
    font-weight: 500;
    font-size: 14px;
  }
  .selector {
    display: flex;
    column-gap: 8px;
    padding: 12px 16px;
    transition: 0.2s;
    border-radius: 10px;
    border: 1px solid #543e79;
    background: rgba(50, 50, 50, 0.8);
    &:hover {
      border: 1px solid #6439ab;
    }
    &.active {
      border: 1px solid #8d56e8;
    }
    .input {
      width: 100%;
      top: -2px;
      font-weight: 400;
      font-size: 16px;
      background-color: rgba(50, 50, 50, 0.8) !important;
    }
    .searchIcon {
      * {
        stroke: rgba(182, 182, 182, 1);
      }
    }
    .arrowDownIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      transition: 0.4s;
      cursor: pointer;
      &.expanded {
        transform: rotate(-180deg);
      }
    }
  }
  .menu {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 100%;
    border: 1px solid #8d56e8;
    left: 0;
    bottom: 0;
    .item {
      display: flex;
      column-gap: 8px;
      padding: 8px 8px 8px 20px;
      background: #2d2d2d;
      &:hover {
        background: #373737;
        cursor: pointer;
      }
      .icon {
        width: 20px;
        height: 20px;
        border-radius: 2px;
      }
      .label {
        font-weight: 400;
        font-size: 16px;
      }
      &.active {
        background: #222222;
      }
      &.disabled {
        background: transparent;
      }
    }
    .firstItem {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    .lastItem {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}
