.modalWrapper {
  position: relative;
  width: 80vw;
  margin: auto auto;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.tabs {
  margin: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0px 0px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}
