@import './lib';

propertyRowDefined() {
  .propertyRowDefined {
    {block}
  }
}

.components
  color $white
  height 100%
  overflow-y auto
  overflow-x hidden
  width 364px

div.vec2,
div.vec3,
div.vec4
  display inline

.vec2 input.number,
.vec3 input.number
  width 40px

.vec4 input.number
  width 34px

.collapsible-header
  align-items center
  display flex
  justify-content space-between
  .entityPrint
    color #fff

.componentTitle span
  max-width 200px
  overflow hidden
  text-overflow ellipsis
  text-transform capitalize
  white-space nowrap
  color #fff
  font-weight 500
  vertical-align bottom !important

.collapsible .static
  cursor pointer
  height 16px
  padding 20px 10px 12px 0px
  vertical-align bottom
  font-size 16px
  &:hover
    background $bglighter
/*
.collapsible
  &.collapsed
    background-color $grayalt
    .static,
    .componentHeaderActions
      color #dedede
    &:hover
      background-color $grayhover
*/

.collapsible.component ~ .collapsible.component
  border-top 1px solid #4B4B4B
  width 348px

.collapsible:first-child
  border-bottom 1px solid $colorPressed

.collapsible .menu
  text-align right

.collapsible .menuafter
  color #bbb
  content '\2807'
  font-size 12px
  padding 5px
  text-align right

.collapsible .static
  margin 0

.collapsible .content
  margin-bottom 20px

.collapsible .static .collapse-button
  border 6px solid transparent
  float left
  height 0
  margin-right 10px
  margin-left 2px
  width 0

.collapsible.collapsed .static .collapse-button
  border-left-color $white
  margin-top 4px

.collapsible:not(.collapsed) .static .collapse-button
  border-top-color $white
  margin-top 7px

.propertyRow  
  font-size 14px
  min-height 30px
  margin-top 20px

  > input.string,
  > input.number,
  > .inputBlock > input.number,
  .texture input  
    padding-left 8px
    box-sizing border-box
    padding 12px 16px !important
    background rgba(50, 50, 50, 0.8) 
    border 1px solid #543E79
    border-radius 10px
    box-sizing border-box
    white-space nowrap

  > input.number,
  > .inputBlock > input.number
    width 228px

  > input.string,
  .texture input
    width 348px

  .select__menu
    margin-top 8px

  .select-widget
    display block

  .select__single-value
    color #FFF

  .select__control
    padding 12px 16px !important
    background rgba(50,50,50,0.8)
    border 1px solid #543e79
    border-radius 10px
    box-sizing border-box
    white-space nowrap

  .checkboxAnim
    background #555
    position relative
    display inline-block
    float right
    right 90px
    top -25px
    width 40px
    height 20px
    margin 2px 5px
    border 1px solid #DBDBDB
    border-radius 10px
    box-sizing border-box

    &.checked
      background #DBDBDB 

    input
      background none

    label 
      display block
      width 13.3px
      height 13.3px
      border-radius 50%
      transition all .5s ease
      cursor pointer
      position absolute
      top 2.3px
      left 2.3px
      background #DBDBDB

    input[type=checkbox]:checked+label 
      left 22px  
      background #373737

  .text
    color #FFF !important
    font-weight 400
    font-size 16px
    text-transform capitalize
    margin-bottom 4px
    display block

  .vec3
    width 348px
    display flex
    flex-direction row
    justify-content space-between
    align-content center
    align-items center
    margin-top 4px

    .inputBlock
      width 108px 
      height 48px
      padding 12px 16px
      background rgba(50, 50, 50, 0.8)
      border 1px solid #543E79
      border-radius 10px
      box-sizing border-box
      white-space nowrap

      span
        width 9px
        height 19px
        line-height 19px
        margin-right 8px
        font-weight 400
        font-size 16px
        color $colorPressed
        text-transform uppercase

      .number
        width 56px
        color $lightColor
        font-weight 400
        overflow hidden
        text-overflow ellipsis
        display inline-block
        vertical-align middle  
        padding 0px

  .map_value
    margin 0 0 0 5px
    width 68px

  .Select-control
    font-size 11px
    height 24px

  .Select-placeholder,
  .Select--single > .Select-control .Select-value
    line-height 19px

  .Select-input
    height 22px

  input[type=text],
  input[type=number],
  input.string,
  input.number
    box-sizing border-box
    align-items center
    font-style normal
    font-weight 400
    font-size 16px
    line-height 19px
    color #FFF
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

    &:last-child
      padding-right 0

  .color_value
    margin 0 0 0 5px
    width 68px
    letter-spacing 1px

.propertyRowDefined .text
  color #FAFAFA
  font-weight 500

.components *
  vertical-align middle

span.subcomponent
  color #999
  float none !important
  margin-left 10px
  vertical-align top !important

a.help-link
  opacity 0.4

a.help-linkhover
  opacity 1

#addComponentContainer
  align-items center
  display none
  flex-direction column
  justify-content center
  padding 20px 10px
  background $bgdark

  #addComponent
    text-align left
    width 200px
    .select__control
      background #161616
      height 35px
      color $primary
    .option
      display flex
      justify-content space-between
      span
        color $primary

  #addComponentHeader
    font-size 15px
    margin 5px 0 10px 0

.Select-menu-outer .is-focused span
  color #fff

.component-title
  align-items center
  display flex

#componentEntityHeader
  display block !important
  width 348px

  .collapsible-header
    bottom 4px
    position relative
  .collapse-button
    display none
  .static
    height 13px
    display none
  .entityPrint
    font-size 15px
    padding-left 5px
  .entityName
    max-width 160px
    top 0
  .entityIcons
    color #FAFAFA

#mixinSelect
  width 160px

.propertyRow .texture
  display flex
  input
    margin-left 0
    width 120px

#componentEntityHeader .gltfIcon img
  top 0

.fa
  color $white
  &:hover
    color $primary

.fa-clipboard,
.fa-trash-o
  display none
