@import './lib';

.entityPrint  
  overflow hidden
  text-overflow ellipsis
  line-height 14px

.entityName
  width 230px
  position relative
  white-space nowrap
  font-style normal
  font-weight 500
  font-size 14px
  line-height 14px
  color #FFFFFF

[data-entity-name-type="class"]
  color $green

[data-entity-name-type="mixin"]
  color $orange
