@import './lib';

.entityPrint
  font-family $normalfont

.entityName
  width 230px
  display inline-block
  overflow hidden
  position relative
  text-overflow ellipsis
  top 3px
  white-space nowrap
  font-style normal
  font-weight 400
  font-size 16px
  line-height 19px
  color #FFFFFF

[data-entity-name-type="class"]
  color $green

[data-entity-name-type="mixin"]
  color $orange
