.help-lists
  display flex

.help-list
  display flex
  flex-direction column
  row-gap 12px
  width 50%
  list-style none
  margin 0
  padding 0
  width 350px

.help-list:first-child 
  padding-right 60px

.help-key-unit
  display flex
  column-gap 12px

.help-key
  font-size 14px
  line-height 14px
  font-weight 700

.help-key span
  background-color #2e2e2e
  background-repeat repeat-x
  border 1px solid #666
  border-radius 3px
  box-shadow 0 0 5px #000
  color #999
  display inline-block
  font-size 12px
  padding 0 8px
  text-align center

.help-key-def
  color #bbb
  display inline-block
  margin-left 1em
