@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500,600&display=swap');

$primary=#1faaf2
$primaryhover=lighten(#1faaf2, 35%)

$lightColor=#EDEDED

$bg=#242424
$bgdark=#1d1d1d
$bggrey=#2D2D2D
$bglight=#333
$bglighter=#393939
$bgalphadark=rgba(50,50,50,0.8)

$red=#92374d
$green=#514b23
$orange=#d66853

$button=#774DEE
$buttonHover=#6439DF
$buttonPressed=#5B37C0
$layerActive=#8965EF
$layerDisabled=#736BA7

$black=#222
$gray=#262626
$grayalt=#323232
$grayhover=#444

$lightgray=#AAA
$white=#c3c3c3

$mainFont='Lato', sans-serif
$normalfont=system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif
$monospace=system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif

media--1024() {
  @media (min-width: 1024px) {
    {block}
  }
}
