@import './lib';

[class^='select-single'] {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 0px;
}

[class^='select-single']:hover {
  cursor: pointer;

  [class^='select-single__single-value'] {
    color: #CBCBCB;
  }

  [class^='select-single__indicator'] {
    * {
      fill: #FFFFFF;
    }
  }

  [class^='select-single__indicator']:active {
    [class^='select-single__single-value'] {
      color: #ffffff;
    }

    [class^='select-single__indicator'] {
      * {
        fill: #FFFFFF;
      }
    }
  }
}

[class^='select-single__control'] {
  background: rgba(50, 50, 50, 0.8);
  border: 1px solid #543E79;
  border-radius: 10px;
  padding: 12px 16px;
  height: 48px;
}

[class^='select-single__control']:hover {
  border: 1px solid #6439AB;
}

[class^='select-single__value-container'], [class^='select-single__input-container'] {
  padding: 0;
  margin: 0;
}

[class^='select-single__indicator-separator'] {
  display: none;
}

[class^='select-single__indicator'] {
  * {
    fill: #FFFFFF;
  }
}

[class^='select-single__menu'] {
  background: #2D2D2D;
  border-radius: 8px;
}

[class^='select-single__option'] {
  padding: 8px;
  background: #2D2D2D;
}

[class^='select-single__option']:hover {
  background: #373737;
  cursor: pointer;
}

.select-single__option--is-focused {
  background: #373737;
}

[class^='select-single__menu-list'] {
  border: 1px solid #8D56E8;
}

.select-single__control--is-focused {
  border: 1px solid #8D56E8 !important;
  box-shadow: none;

  .select-single__single-value {
    color: #B6B6B6 !important;
  }

  svg {
    * {
      fill: #ffffff;
    }
  }
}

.select-single__control--is-disabled {
  background: rgba(50, 50, 50, 0.8);
  border: 1px solid #382A50 !important;
  box-shadow: none;

  .select-single__single-value {
    color: #636363 !important;
  }

  svg {
    * {
      fill: #636363;
    }
  }
}

.select__control {
  border: 0;
  border-radius: 0;
  cursor: pointer;
  min-height: 26px;
  font-family: $mainFont;
}

.select__indicator {
  height: 26px;
}

.select__indicator-separator {
  display: none;
}

.select__menu {
  margin-top: 18px;
  padding: 0px;
  border: 1px solid #6439AB;
  border-radius: 10px;
  background: $bggrey;
  font-family: $mainFont;
  font-size: 18px !important;
  overflow: hidden;
}

.select__menu-list {
  padding-top: 0px;
  padding-bottom: 0px;
}

.select__control {
  background: $bgalphadark;
}

.select__option {
  height: 51px;
  padding: 16px 20px;
}

.select__placeholder, .select__menu {
  color: #FFF;
}

.select__single-value {
  color: $primary;
}

.select__control--is-focused {
  box-shadow: none !important;
  background: $bgdark;
}

.select__option {
  cursor: pointer;
}

.select__clear-indicator {
  display: none;
}

.select__label {
  font-size: 11px;
}

.select__option--is-focused {
  background: $black;
}

.select__menu .select__option--is-selected {
  background: $black;
}

.select__value-container {
  height: 26px;
  position: static;
  padding: 2px 8px;

  &.select__value-container--is-multi {
    height: auto;
    padding: 6px;
  }
}

.select__dropdown-indicator {
  padding: 3px 8px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDEyIDciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xMC4xNjY3IDEuNUw2IDUuNjY2NjdMMS44MzMzNCAxLjUiIHN0cm9rZT0iI0RCREJEQiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==');
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
}

.select__dropdown-indicator:active {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDEyIDciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xLjgzMzM3IDUuNjY2NjZMNi4wMDAwNCAxLjQ5OTk5TDEwLjE2NjcgNS42NjY2NiIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==');
}

.select__dropdown-indicator svg {
  display: none;
}

.select__multi-value {
  background: $bg;
  color: $primary;
}

.select__multi-value__label {
  color: $primary;
}

.select__value-container--is-multi > :last-child {
  display: none;
}

.select__multi-value__remove:hover {
  color: #fff;
  background: $bg;
}