@import './lib';

#viewportBar
  align-items center
  color $white
  position fixed
  display flex
  flex-grow 2
  height 48px
  font-size 20px
  justify-content center
  left 0
  margin 0 auto
  right 0
  top 36px

.toolbarButtons
  display: none
  position relative

  *
    margin-left 0
    padding 8px
    vertical-align middle

  a.button
    margin 0 6px 0 0
    &:not(.active):hover
      background-color $grayhover

  .active
    background-color $primary
    color #fff

  .active:hover
    color #fff !important

.local-transform
  padding-left 10px

.local-transform label
  color $lightgray
  padding-left 5px

.local-transform a.button
  padding-top 0

#cameraSelect
  cursor pointer
  width 200px
  .select__dropdown-indicator
    padding-left 3px
    padding-right 3px

#cameraToolbar:has(> .select__menu)
  background $bggrey !important

#cameraToolbar.open .select__dropdown-indicator
  background-image url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDEyIDciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xLjgzMzM3IDUuNjY2NjZMNi4wMDAwNCAxLjQ5OTk5TDEwLjE2NjcgNS42NjY2NiIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==")

#cameraToolbar
  margin-left 5px
  align-items center
  display flex
  column-gap 8px
  background rgba(50, 50, 50, 0.4)
  border-radius 16px
  padding 10px

  button
    border unset
    outline unset
    background-color transparent
    padding 10px
    color #ffffff
    border-radius 10px
    transition all 0.3s

  button:hover 
    cursor pointer
    background-color rgba(50, 50, 50, 0.6)
    transition all 0.3s

  .selectedCamera 
    background-color rgba(50, 50, 50, 0.8)
    transition all 0.3s

  a
    margin-right 10px
  .select__control
    background none
    font-size 18px
    padding: 2px 15px 2px 6px
  .select__single-value
    color #FFF
    &:hover
      color $primary

#viewportHud
  display none
  +media--1024()
    display block
