@import '../../../style/lib';

#screenshotButton.screenshotButton
  border unset
  border-radius 50%
  width: 43px
  height 43px
  background-color: #774DEE
  padding 0 !important
#screenshotButton:hover
  background-color #6439DF
#screenshotButton:active
  background-color: #5B37C0;