.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  width: fit-content;
  padding: 11px 15px !important;
  border-radius: 18px;
  border: 1px solid transparent;
  outline: unset;
  background-color: transparent;
  font-size: 16px !important;
  line-height: 19px;
  font-weight: 500;
  transition: all 0.3s;

  svg path {
    transition: all 0.3s;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.filledButton {
  background-color: #774dee;
  color: #fff;

  &:hover {
    background-color: #6439df;
    transition: all 0.3s;
  }

  &:active {
    background-color: #5b37c0;
    color: #b6b6b6;
    transition: all 0.3s;
  }

  &:disabled {
    background-color: rgba(237, 235, 239, 0.5);
    color: rgba(50, 50, 50, 0.4);
    transition: all 0.3s;
  }
}

.outlinedButton {
  background-color: transparent;
  color: #774dee;
  border-color: #774dee;

  &:hover {
    color: #6439df;
    border-color: #6439df;
    transition: all 0.3s;
  }

  &:active {
    color: #5b37c0;
    border-color: #5b37c0;
    transition: all 0.3s;
  }

  &:disabled {
    color: rgba(237, 235, 239, 0.5);
    border-color: rgba(237, 235, 239, 0.5);
    transition: all 0.3s;
  }
}

.ghostButton {
  color: #774dee;

  &:hover {
    color: #6439df;
    transition: all 0.3s;
  }

  &:active {
    color: #5b37c0;
    transition: all 0.3s;
  }

  &:disabled {
    color: rgba(237, 235, 239, 0.5);
    transition: all 0.3s;
  }
}

.toolButton {
  background-color: rgba(50, 50, 50, 0.8);
  color: #ffffff;

  &:hover {
    background-color: #262626;
    transition: all 0.3s;
  }

  &:active {
    background-color: #1e1e1e;
    color: #b6b6b6;
    transition: all 0.3s;
  }

  &:disabled {
    background-color: rgba(50, 50, 50, 0.6);
    color: #636363;
    transition: all 0.3s;
  }
}

.whiteButton {
  background-color: #ededed;
  color: #3d3d3d;
  border-radius: 18px;
  box-shadow: 0px 7px 3px 0px rgba(0, 0, 0, 0.32);

  &:active {
    border: 1px solid #fff;
    background-color: #dbdbdb;
  }

  &:focus {
    border: 1px solid #fff;
  }

  &:hover {
    background-color: #fff;
    transition: all 0.3s;
  }

  &:disabled {
    background-color: #636363;
    color: rgba(50, 50, 50, 0.4);
    transition: all 0.3s;
  }
}
