@import '../../../style/lib';

#helpButton.helpButton
  display: block
  position absolute
  left 40px
  bottom 60px
  border unset
  outline unset
  background-color rgba(50, 50, 50, 0.8);
  padding 12px 15px
  border-radius 50%
  transition all 0.3s
  margin 0

#helpButton:hover 
  cursor pointer
  background-color #6439df
  transition all 0.3s
