@import '../../../style/lib';

#helpButton.helpButton
  position absolute
  left 32px
  border unset
  bottom 31px
  border-radius 50%
  width: 43px
  height 43px
  background-color: #774DEE
  padding 0 !important
  
#helpButton:hover 
  background-color #6439df

#helpButton:active 
  background-color: #5B37C0;