@import '../../../style/lib';

#helpButton.helpButton
  display: block
  position absolute
  right 40px
  bottom 60px
  border unset
  outline unset
  background-color $button
  padding 12px 15px
  border-radius 50%
  transition all 0.3s
  margin 0